<!DOCTYPE html>
<html>
<head>
	<title>Scruting Blog App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item"><i class="code icon"></i>Scruting</div>
			<a href="/" class="item">Home</a>
			<a href="/posts/new" class="item">New Post</a>
		</div>
		<div class="right menu">
			<% if(!currentUser){ %>
						<a class="item" href="/login">Login</a>
						<a class="item" href="/register">Sign Up</a>
					<% } else { %>
						<a class="item" href="#">Signed In As <%= currentUser.username %></a>
						<a class="item" href="/logout">Logout</a>
					<% } %>
		</div>
	</div>

	<div class="ui main container">
		<% if(error && error.length > 0){ %>
			<div class="ui red message">
				<%= error %>
			</div>
		<% } %>
		<% if(success && success.length > 0){ %>
			<div class="ui green message">
				<%= success %>
			</div>
		<% } %>
	</div>